# Copy your Supabase URI Connection String here
DATABASE_URI="postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-1-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true"

# A secure random secret string for Payload session encryption
PAYLOAD_SECRET="your_payload_secret_here"
